.display-4 {
	font-family: 'Euphoria Script', cursive;
	color: red;
	font-size: 4em;
	background-image: url("/images/connectwork.png");
}

.logo {
	background-image:url(logo.jpg);
	background-size:100%;
	border:1px solid red;
	width:200px;
	height:200px;
	margin-top:-15px;
	float:right;
	border-radius:200px;
}


body {
	background-color: grey;
	font-family: georgia;
	color: black;
}

ul#menu
li {
	display: inline;
	font-size: 20px;
	padding-left: 25px;
}

h2 {
	font-weight: bold;
	text-decoration: underline;
}

#pond {
	display: flex;
	background-color: white
}

#pond1 {
	display: flex;
	flex-direction: column;
}

footer {
	background-color: gray;
}

#contact {
	color: black;
}

section {
	display: flex;
}

#menu1 {
	padding-top: 20px
}